@import url('/View/style/fonts.css');

.row-header{
    height: 60px;
    border-bottom: 3px black solid;
}

.row-main{
    height: calc(100vh - 120px);
    background-image: url("/View/images/background/wallpaper-home.jpg");
    background-size: cover;
    background-position: bottom;
}

.row-footer{
    border-top: 3px black solid;
    height: 60px;
    background-image: url("/View/images/footer/background-texture-footer.jpg");
    background-size: cover;
}

:is(.row-header,.row-main,.row-footer){
    padding-left: 8vw;
    padding-right: 8vw;
}

.box-opcoes{
    height: 40%;
}

.box-opcoes .titulo{
    font-family: LifeCraft, 'warcraft';
    color: #F7B10A;
    font-weight: 800;
    font-size: 2vw;
    letter-spacing: 2px;
    margin-bottom: 15%;
}

.box-opcoes .botao{
    font-size: 20px;
    color: #F7B10A;
    border: 1px #F7B10A solid;
}

.box-opcoes .botao:hover{
    background-color: #F7B10A;
}


@media (max-width: 1366px){
    .box-opcoes .botao{
        font-size: 14px;
    }
}

@media (max-width: 1280px){
    
}

@media (max-width: 980px){
    :is(.row-header,.row-main,.row-footer){
        padding-left: 4vw;
        padding-right: 4vw;
    }

    :is(.box-opcoes){
        width: 60% !important;  
    }

    .box-opcoes .titulo{
        font-size: 5vw;
    }
}

@media (max-width: 650px){
    
    :is(.box-opcoes){
        width: 80% !important;
    }

    .box-opcoes .titulo{
        font-size: 6vw;
    }
}
